# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Ignore Generic Password YAML files
*.yaml
*.yml

# Ignore specific credential files
quick-glow-438420-v7-6c65890dbee5.json # Ignore the specific service account key
*.json # This will ignore all JSON files, but since you've specified the service account key, this is safer.